<div class="lite container-fluid">
	<div class="module">
		<div class="row">	
			<div class="inner-wrap-lite col-lg-2 col-md-2 col-sm-3 col-xs-6">

			<h1>distimming <br/> the doshes</h1>
			</div>
		</div>
	</div>
</div>
