<!--<header>
    <h1>{{title}}</h1>
</header>-->


<!--<header class="wrap">
	
	<img src="images/cut-pasting1500.png">

	<div class="inner-wrap">

		<h1>distimming <br/> the doshes</h1>
	</div>
	
</header>-->


<div class="outer-wrap">
<header class="wrap">
	
	<img src="images/cut-pasting1500.png">

	<div class="inner-wrap">

		<h1>distimming <br/> the doshes</h1>
	</div>
	
</header>
</div>
