<div class="tootoot container-fluid">

	

	<div class="toot container">

		<input type="checkbox" id="play2" name="play2">
		<label for="play2">
			<!--<img src="images/muybridge12-hp-p.jpg" alt="Play">-->
		</label>
		<!--<div class="container_001">-->
		
		<div class="animation">
		
			<div class="frame_001"></div>
			<div class="frame_002"></div>
			<div class="frame_003"></div>
			<div class="frame_004 play2"></div>
			<div class="frame_005"></div>
			<div class="frame_006"></div>
			<div class="frame_007"></div>
			<div class="frame_008"></div>
			<div class="frame_009"></div>
			<div class="frame_0010"></div>

			<!--<div class="frame_006"></div>-->
			<!--<div class="play"></div>
			<div class=""></div>
			<div class=""></div>-->
		
		</div>
		<!--</div>-->


	</div>
	
</div>





