{{#if page.logo }} 
<h1 class="logo">{{ page.logo }}</h1>

<h2>About (its own category)</h1>


<h4>The earliest attested form of the word "meta" is the Mycenaean Greek me-ta, written in Linear B syllabic script.[2] The Greek preposition is cognate with the Old English preposition mid "with", still found as a prefix in midwife. Its use in English is the result of back-formation from the word "metaphysics". In origin Metaphysics was just the title of one of the principal works of Aristotle; it was so named (by Andronicus of Rhodes) simply because in the customary ordering of the works of Aristotle it was the book following Physics; it thus meant nothing more than "[the book that comes] after [the book entitled] Physics".</h4>
{{/if}}

<div class="xtres">
	<div class="utopia">
{{>utopia}}
	</div>
</div>