.icon-asterisk-2 { background-image: url(png/asterisk-2.png); background-repeat: no-repeat; }

.icon-asterisk { background-image: url(png/asterisk.png); background-repeat: no-repeat; }

.icon-test { background-image: url(png/test.png); background-repeat: no-repeat; }