.module-match{
  margin:0 0 0 3.75% ;
  width:50px;
  float:left; clear:none;
  display:inline-block;
  
  .row & {
    margin:3px 0 0 0;
    width:50px;
    float:left; clear:none;
    display:inline-block;

  }
  
}

//.bullet_entry

.bullet_entry{
    width:50px;
    float:left;
    clear:both;
    margin-right:15px;
    //background-color:#09cf7f;


}

.slogan{
    text-align: left;
    padding-left:20px;
    position:relative;
    left:1em;
    .module-inner &{
      left:0em;
      padding-left:0px;

    }

    //margin-left:auto;
    //margin-right:auto;
    &:hover{
        //border:1px solid blue;
    }
    
}



//CABECERA IMAGEN PORTADA

.outer-wrap{
  width:100%;
  padding-left:0;
  padding-right:0;
  margin-right:0;
  margin-left:0;
}
.wrap{ 
  
  img{ width:100%; }

}


.inner-wrap {
  left:0;
  right:0;
  margin-right:80px;
  margin-left:4.9%;
  
  h1{

    @media all and (max-width: 515px){
    
      padding-right: 0em ;
      padding-left:0.15em;
      margin-right:0.225em;
      margin-left:-6px;
    
    }
  }
    
}




.quote_common{
      q{
        display:inline-block;
        float:left;
        &::before{
            
            
            position:relative;
            padding-right:0.25em;
        }
        &::after{
            display:none;

        }
    }
}



//CABECERA
.inner-wrap-lite{
  h1{

      padding-left:2px;
  }
}

//MOLOCH
//MOLOCH
.moloch{
  margin-left: auto;
  margin-right: auto;
    
 #moloch{
    
    
 }
}







