/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  //margin-bottom: 100px;
  margin-bottom: 400px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  //height: 100px;
  height: 400px;
  background-image: url('../images/marey_pole-800.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #fff;
}


