.tootoot{
	//background-color: #333;
}


@media (max-width:499px) {
	.toot{
		height:126px;
	}

	.animation{
		width: 300px;
		height: 86px; position:relative;
		background: url(../images/figura_saltando_con_faldas2400x344.png);
		background-size: 200% auto;
		background-color: #fff;

			div {
			width: 10%; //height: 54px;
			height: 86px;
			float: left;
			position: relative;
			}

			div:after {
			content: '';
			
			position: absolute;
			top: 0px; bottom: 0px; left: 0px; right: 0px;
			z-index: 2;
			
			//border-right: 2px solid #fff;
			//border-bottom: 2px solid #fff;
			
			//background: rgba(255, 255, 255, 0.6);
			
			//-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			}	
	}
	input{
		visibility:hidden;
		width:0;
	}

	label {
		cursor: pointer;
		display: inline-block;
		width: 30px; height: 30px;
		z-index: 2;
		position: absolute;
		left:30px;
		//top:207px;
		background-color:#000;
		img{
			display:none;
		}
	}

	input:checked ~ .animation {
		/* We will set a delay so that the rewind effect can occur */
		-webkit-animation: horse-ride .5s steps(12, end) infinite 0s;
		-moz-animation: horse-ride .5s steps(12, end) infinite 0s;
		animation: horse-ride .5s steps(12, end) infinite 0s;
		
		/* Imitating the Rewind effect before real animation starts */
		/*background-position: -2412px 0;
		-webkit-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		-moz-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);*/
	}

	@-webkit-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -600px 0; }
	}

	@-moz-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -600px 0; }
	}

	@keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -600px 0; }
	}	

}







@media (min-width: 500px) and (max-width:799px) {
	.toot{
		height:180px;
		&.container {
	    width: 768px;
	  }
	}

	.animation{
		width: 500px;
		height: 140px; position:relative;
		background: url(../images/figura_saltando_con_faldas2400x344.png);
		background-size: 200% auto;
		background-color: #fff;

		margin:0 auto;

			div {
			width: 10%; //height: 54px;
			height: 140px;
			float: left;
			position: relative;
			}

			div:after {
			content: '';
			
			position: absolute;
			top: 0px; bottom: 0px; left: 0px; right: 0px;
			z-index: 2;
			
			//border-right: 2px solid #fff;
			//border-bottom: 2px solid #fff;
			
			//background: rgba(255, 255, 255, 0.6);
			
			//-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			}	
	}
	input{
		visibility:hidden;
		width:0;
	}

	label {
		cursor: pointer;
		display: inline-block;
		width: 50px; height: 50px;
		z-index: 2;
		position: absolute;
		left:30px;
		//top:262px;
		background-color:#0000ff;
		img{
			display:none;
		}
	}

	input:checked ~ .animation {
		/* We will set a delay so that the rewind effect can occur */
		-webkit-animation: horse-ride 1s steps(12, end) infinite 0s;
		-moz-animation: horse-ride 1s steps(12, end) infinite 0s;
		animation: horse-ride 1s steps(12, end) infinite 0s;
		
		/* Imitating the Rewind effect before real animation starts */
		/*background-position: -2412px 0;
		-webkit-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		-moz-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);*/
	}

	@-webkit-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1000px 0; }
	}

	@-moz-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1000px 0; }
	}

	@keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1000px 0; }
	}	

}






@media (min-width: 800px) and (max-width:939px) {
	.toot{
		height:260px;
		&.container {
	    width: 800px;
	  }
	}

	.animation{
		width: 800px;
		height: 220px; position:relative;
		background: url(../images/figura_saltando_con_faldas2400x344.png);
		background-size: 200% auto;
		background-color: #fff;

			div {
			width: 10%; //height: 54px;
			height: 220px;
			float: left;
			position: relative;
			}

			div:after {
			content: '';
			
			position: absolute;
			top: 0px; bottom: 0px; left: 0px; right: 0px;
			z-index: 2;
			
			//border-right: 2px solid #fff;
			//border-bottom: 2px solid #fff;
			
			//background: rgba(255, 255, 255, 0.6);
			
			//-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			}	
	}
	input{
		visibility:hidden;
		width:0;
	}

	label {
		cursor: pointer;
		display: inline-block;
		width: 50px; height: 50px;
		z-index: 2;
		position: absolute;
		left:30px;
		//top:342px;
		background-color:#0099ff;
		img{
			display:none;
		}
	}

	input:checked ~ .animation {
		/* We will set a delay so that the rewind effect can occur */
		-webkit-animation: horse-ride 1.25s steps(12, end) infinite 0s;
		-moz-animation: horse-ride 1.25s steps(12, end) infinite 0s;
		animation: horse-ride 1.25s steps(12, end) infinite 0s;
		
		/* Imitating the Rewind effect before real animation starts */
		/*background-position: -2412px 0;
		-webkit-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		-moz-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);*/
	}

	@-webkit-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1600px 0; }
	}

	@-moz-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1600px 0; }
	}

	@keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1600px 0; }
	}	

}

@media (min-width: 960px) and (max-width:1279px) {
	.toot{
		height:300px;
		&.container {
	    width: 960px;
	  }
	}

	.animation{
		width: 960px;
		height: 260px; position:relative;
		background: url(../images/figura_saltando_con_faldas2400x344.png);
		background-size: 200% auto;
		background-color: #fff;

			div {
			width: 10%; //height: 54px;
			height: 260px;
			float: left;
			position: relative;
			}

			div:after {
			content: '';
			
			position: absolute;
			top: 0px; bottom: 0px; left: 0px; right: 0px;
			z-index: 2;
			
			//border-right: 2px solid #fff;
			//border-bottom: 2px solid #fff;
			
			//background: rgba(255, 255, 255, 0.6);
			
			//-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			}	
	}
	input{
		visibility:hidden;
		width:0;
	}

	label {
		cursor: pointer;
		display: inline-block;
		width: 50px; height: 50px;
		z-index: 2;
		position: absolute;
		left:30px;
		//top:300px;
		background-color:#00ccff;
		img{
			display:none;
		}
	}

	input:checked ~ .animation {
		/* We will set a delay so that the rewind effect can occur */
		-webkit-animation: horse-ride 1.35s steps(12, end) infinite 0s;
		-moz-animation: horse-ride 1.35s steps(12, end) infinite 0s;
		animation: horse-ride 1.35s steps(12, end) infinite 0s;
		
		/* Imitating the Rewind effect before real animation starts */
		/*background-position: -2412px 0;
		-webkit-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		-moz-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);*/
	}

	@-webkit-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1920px 0; }
	}

	@-moz-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1920px 0; }
	}

	@keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -1920px 0; }
	}	

}


/*@media (min-width: 500px) and (max-width:799px) {
	  .container {
	    width: 500px;
	  }
	}
	@media (min-width: 800px) and (max-width:939px) {
	  .container {
	    width: 800px;
	  }
	}
	@media (min-width: 940px) and (max-width:1199px) {
	  .container {
	    width: 940px;
	  }
	}
	@media (min-width: 1200px) {
	  .container {
	    width: 940px;
	  }
	}*/





@media (min-width: 1280px) {
	.toot{
		height:384px;
		&.container {
	    width: 1280px;
	  }
	}

	.animation{
		width: 1280px;
		height: 344px; position:relative;
		background: url(../images/figura_saltando_con_faldas2400x344.png);
		background-size: 200% auto;
		background-color: #fff;

			div {
			width: 10%; //height: 54px;
			height: 344px;
			float: left;
			position: relative;
			}

			div:after {
			content: '';
			
			position: absolute;
			top: 0px; bottom: 0px; left: 0px; right: 0px;
			z-index: 2;
			
			//border-right: 2px solid #fff;
			//border-bottom: 2px solid #fff;
			
			//background: rgba(255, 255, 255, 0.6);
			
			//-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			//box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
			}	
	}
	input{
		visibility:hidden;
		width:0;
	}

	label {
		cursor: pointer;
		display: inline-block;
		width: 50px; height: 50px;
		z-index: 2;
		position: relative;
		left:30px;
		top:384px;
		background-color:#00aaff;
		img{
			display:none;
		}
	}

	input:checked ~ .animation {
		/* We will set a delay so that the rewind effect can occur */
		-webkit-animation: horse-ride 1.5s steps(12, end) infinite 0s;
		-moz-animation: horse-ride 1.5s steps(12, end) infinite 0s;
		animation: horse-ride 1.5s steps(12, end) infinite 0s;
		
		/* Imitating the Rewind effect before real animation starts */
		/*background-position: -2412px 0;
		-webkit-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		-moz-transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
		transition: all 5s cubic-bezier(0.550, 0.055, 0.675, 0.190);*/
	}

	@-webkit-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -2400px 0; }
	}

	@-moz-keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -2400px 0; }
	}

	@keyframes horse-ride {
		0% { background-position: 0 0; }
		100% { background-position: -2400px 0; }
	}	

}

