---
title: Demo Home
---

<div class="demo module-fluid">
	<div class="module-inner">
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				col-lg-12 col-md-12 col-sm-12 col-xs-12
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				col-lg-6 col-md-6 col-sm-6 col-xs-6
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				col-lg-6 col-md-6 col-sm-6 col-xs-6
			</div>

		</div>
	</div>
</div>


<div class="demo module-wrapper">
	<div class="module-inner">
		
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				col-lg-3 col-md-3 col-sm-3 col-xs-3
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				col-lg-6 col-md-6 col-sm-6 col-xs-6
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				col-lg-3 col-md-3 col-sm-3 col-xs-3
			</div>

		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				col-lg-6 col-md-6 col-sm-6 col-xs-6
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				col-lg-6 col-md-6 col-sm-6 col-xs-6
			</div>

		</div>
	</div>
</div>
<div class="footer">
	<p><a href="patterns.html" title="Patterns">Patterns &rarr;</a></p>
</div>
