.outer-wrap{
	font-size: 16px;
    line-height: 0.625em;
	width:100%;
	padding-left:0;
	padding-right:0;
	margin-right:0;
	margin-left:0;
}
.wrap{
	position:relative;
	height: auto;		
	
	img{
		width:100%;
		height:auto;
	}

}

.inner-wrap {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:20px;
    margin-bottom:0px;
    margin-right:80px;
    margin-left:4.9%;
    
    
    h1{

    	position:absolute;
    	bottom:0px;
    	margin-bottom:0.925em;
    	font-family: 'arvoregular';
    	color: #fff;
    	font-size: 18px; 
    	padding-bottom:0px;
    	line-height: 1.0125em;
    	font-weight: 500;
    	@media all and (max-width: 515px){
		  
		    background: #003;
		    padding: 0.795em 0em 0.775em 0.15em;
		    margin-bottom:0.0em;
		    margin-right:0.225em;
		    margin-left:-6px;
		  
		}
    }
    
}